# MySQL client configs
# This file is managed by Ansible, all changes in production will be lost
# Source: http://github.com/josuelima/ansible-sandbox

[client]
default-character-set = {{ mysql_default_charset }}
