# MySQL client cnf file
# This file is managed by Ansible, all in production changes will be lost
# Source: http://github.com/josuelima/ansible-sandbox

[client]
user={{ mysql_user }}
password={{ mysql_pass }}
