# Environment variables
# This file is managed by Ansible, all changes in production will be lost
# Source: http://github.com/josuelima/ansible-sandbox
APP_BOLAO_FACEBOOK_ID: {{ app_facebook_id }}
APP_BOLAO_FACEBOOK_PASS: {{ app_facebook_pass }}